#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

CFLAGS := $(shell dpkg-buildflags --get CFLAGS)
CPPFLAGS := $(shell dpkg-buildflags --get CPPFLAGS)
LDFLAGS := $(shell dpkg-buildflags --get LDFLAGS)

CFLAGS += -Wall -Wextra -Wmissing-prototypes -Wstrict-prototypes
LDFLAGS += -Wl,-z,defs

build-indep:
build-arch: build-stamp

build-stamp:
	dh_testdir
	$(MAKE) CFLAGS='-DLINUX -DSCOREFILE="\"/var/games/purity.scores\"" $(CPPFLAGS) $(CFLAGS) $(LDFLAGS)' \
		LIBDIR='/usr/share/games/purity' \
	       	purity
	cp pt.6 purity.6
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp purity purity.6
	dh_clean

binary-indep:

binary-arch: build-stamp
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	dh_install
	dh_installdocs
	dh_installexamples
	dh_installmenu
	dh_installman purity.6
	dh_installchangelogs
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
build: build-arch build-indep
.PHONY: build build-arch build-indep clean binary-indep binary-arch binary
